<h2>Register</h2>
<form (submit)="onRegister()" [formGroup]="registerForm" class="form-horizontal">
  <div class="form-group" [ngClass]="{'has-error': (registerForm.controls.username.errors && registerForm.controls.username.dirty),
  'has-success': (!registerForm.controls.username.errors)}">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control " id="username" formControlName="username" />
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger" *ngIf="registerForm.controls.username.errors?.required && registerForm.controls.username.dirty">
        Ce champ est requis
      </li>
      <li class="list-group-item list-group-item-danger" *ngIf="registerForm.controls.username.errors?.validUsernameChecker && registerForm.controls.username.dirty
&& !registerForm.controls.username.errors?.required">
        Le nom doit être composé uniquement de lettres
      </li>
      <li class="list-group-item list-group-item-danger" *ngIf="(registerForm.controls.username.errors?.minlength || registerForm.controls.username.errors?.maxlength) && registerForm.controls.username.dirty
      && !registerForm.controls.username.errors?.required">
        Username doit avoir au moins 3 caractères et pas plus de 20
      </li>
    </ul>
  </div>
  <div class="form-group" [ngClass]="{'has-error': (registerForm.controls.email.errors && registerForm.controls.email.dirty),
  'has-success': (!registerForm.controls.email.errors)}">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control " id="email" formControlName="email" />
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger" *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.dirty">
        Ce champ est requis
      </li>
      <li class="list-group-item list-group-item-danger" *ngIf="registerForm.controls.email.errors?.validEmailChecker && registerForm.controls.email.dirty && !registerForm.controls.email.errors?.required">
        L'email n'est pas valide
      </li>
      <li class="list-group-item list-group-item-danger" *ngIf="(registerForm.controls.email.errors?.minlength || registerForm.controls.email.errors?.maxlength) && registerForm.controls.email.dirty
          && !registerForm.controls.email.errors?.required">
        L'email doit avoir au moins 3 caractères et pas plus de 40
      </li>
    </ul>
  </div>
  <div formGroupName="passwords">
    <div class="form-group" [ngClass]="{'has-error': (passwords.controls.password.errors && passwords.controls.password.dirty),
    'has-success': (!passwords.controls.password.errors)}">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control " id="password" formControlName="password" />
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger" *ngIf="passwords.controls.password.errors?.required && passwords.controls.password.dirty">
          Ce champ est requis
        </li>
        <li class="list-group-item list-group-item-danger" *ngIf="(passwords.controls.password.errors?.minlength || passwords.controls.password.errors?.maxlength) && passwords.controls.password.dirty
              && !passwords.controls.password.errors?.required">
          Le password doit avoir au moins 3 caractères et pas plus de 40
        </li>
      </ul>
    </div>
    <div class="form-group" [ngClass]="{'has-error': (passwords.controls.confirmPassword.errors && passwords.controls.confirmPassword.dirty),
    'has-success': (!passwords.controls.confirmPassword.errors)}">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" class="form-control " id="confirmPassword" formControlName="confirmPassword"
      />
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger" *ngIf="passwords.controls.confirmPassword.errors?.required && passwords.controls.confirmPassword.dirty">
          Ce champ est requis
        </li>
        <li class="list-group-item list-group-item-danger" *ngIf="(passwords.controls.confirmPassword.errors?.minlength || passwords.controls.confirmPassword.errors?.maxlength) && passwords.controls.confirmPassword.dirty
              && !passwords.controls.confirmPassword.errors?.required">
          Le password doit avoir au moins 3 caractères et pas plus de 40
        </li>
      </ul>
    </div>
  </div>
  <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success">Sign up</button>
</form>